<div class="row">
	<div class="hero col-md-6 col-md-offset-3">
	  
	  <h3>Your rental yield calculator</h3>
	  <p>Fill in the form below and we'll calculate an<br> estimated rental yield for your property!</p>

	</div>
</div>

<div class="row">
	<div class="calculator col-md-4 col-md-offset-4">

	  <%= render "form" %>

	</div>
</div>