
html, body, form, .btn {
	text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.form-group label abbr {
   border-bottom: 0px; 
 }

 .help-inline {
  color:#c0392b;
 }

 .navbar {
  border-radius: 0 0 4px 4px;
  background-color: #E66212;
  border-top: none;
 }

 .navbar-header .navbar-brand {
    color:#fff;
    font-size: 24px;
  }

.hero {
  margin-top: -10px;
  text-align: center;
}

.calculator {
  margin-top: 25px;
  margin-bottom: 50px;
  border-top: 1px solid #bdbdbd;
  position: relative;
}

.calculator form {
  padding-top: 25px;
}

.btn {
  margin-top: 10px;
  background-color: #E66212;
  color:#fff;
  font-weight: 500;
  letter-spacing: 0.5px;
}

span {
  font-weight: 700;
}

.yield {
  margin-top: 25px;
}

.content {
  margin-top: 25px;
}

.property-summary {
  position: relative;
  margin-top: 50px;
  padding-bottom: 50px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.property-summary .image {
  float: left;
  clear:both;
  margin-right: 50px;
}

.other-yield {
  width:auto;
  margin-left: 210px;
  padding:5px;
  background-color: #DBECD4;
  text-align: center;
}

table.index {
  margin-top: 25px;


}

table.index tr th{
  background-color: #f78c4f;
  border:1px solid #525252;
  text-align: center;
}












